*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1{
    text-decoration: underline;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(34, 34, 34); */
    background-image: url(/assets/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;}

.container{
    background-color: rgb(41, 19, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(118, 0, 145);
    color: aliceblue;
    border: 2px solid rgb(118, 0, 145);
}

.error-div{
    display: none;
    position: absolute;
    flex-direction: column;
    bottom: 10px;
    width: auto;
    padding: 5px;
    gap: 5px;
    background-color: rgb(41, 19, 39);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(118, 0, 145);
    color: aliceblue;
    border: 2px solid rgb(118, 0, 145);
}

input{
    border: 2px solid rgb(207, 0, 121);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px rgb(202, 0, 175);
}

input:focus{
    border:none;
}

.key{
    position: absolute;
    top: 2px;
    right: 1px;
}

.key:hover{
    cursor: pointer;

}

button{
    padding: 5px 15px;
    background-color: rgb(53, 24, 50);
    border: none;
    box-shadow: 0px 0px 2px 1px rgb(202, 0, 175);

}

